.start-up {
    background-image: url('/site/img/flappy-bird.jpg');
    //background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
